<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Arduino</title>
		<link rel="stylesheet" type="Text/css" href="{{ url_for('static', filename='styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="form">
			<form method="post" id="input" action="{{ url_for('send') }}">
				<div id="inputs">
				<div class="inputdiv">
					<input id="top" name="top">
				</div>
				<div class="inputdiv">
					<input id="bottom" name="bottom">
				</div>
				</div>
				<button id="button">Submit</button>
			</form>
		</div>
	</body>
</html>
